.note-details-container {
    background-color: #212121;
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.note-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
}

.arr-btn {
    height: 30px;
    width: 30px;
    background-color: transparent;
}

.save-btn {
    background-color: #2d39e6;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 16px;
}

.input-title {
    height: 35px;
    width: 300px;
    font-family: 'Roboto';
    font-size: 20px;
    color: #fff;
    background-color: transparent;
    margin-bottom: 10px;;
}

.notes {
    background-color: transparent;
    font-family: 'Roboto';
    font-size: 20px;
    color: #ffffff;
    margin-top: 10px;
}

.notes-form-background {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.arr-btn {
    height: 20px;
    width: 20px;
    padding: 0px 5px 0px 5px;
    color: #ffffff;
}

.arrow {
    background-color: #747171;
    height: 40px;
    margin: 5px;
}

.note-content {
    display: flex;
    flex-direction: column;
}